[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
"django.localflavor" = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
python-environ = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
babel = "*"

[dev-packages]

[requires]
python_version = "3.11"
