{% extends "site_base/index.html" %}
{% load static %}

{% block page_title %}Wintergreen - Change Password{% endblock page_title %}
{% block extra_head %}
{{ block.super }}
{% endblock extra_head %}
{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div id="update-pass" class="col-md-4">
            <h3>Set New Password</h3>
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <button type="submit">Change Password</button>
            </form>
        </div>
    </div>
</div>

{% endblock body %}

{% block extra_scripts %}
{{ block.super }}
{% endblock extra_scripts%}