{% extends "site_base/index.html" %}
{% load static %}

{% block page_title %}Wintergreen - Change Password{% endblock page_title %}
{% block extra_head %}
{{ block.super }}
{% endblock extra_head %}
{% block body %}

<div class="container wintergreen">
    <div class="row justify-content-center">
        <div id="update-pass" class="col-md-4">
            <h3>Password Confirmed</h3>
            <p>Your password has been set. Click below to log in.</p>
            <button class="btn btn-success" value="Log In"><a href="{% url 'login' %}">Log In</a></button>
        </div>
    </div>
</div>

{% endblock body %}

{% block extra_scripts %}
{{ block.super }}
{% endblock extra_scripts%}