{% extends "site_base/index.html" %}
{% load static %}

{% block page_title %}Wintergreen - Register{% endblock page_title %}
{% block extra_head %}
{{ block.super }}
{% endblock extra_head %}
{% block body %}

<div class="container">
    <form action="{% url 'accounts:register' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">

            <div class="col-md-4">
                <h3 class="panel-heading">Register</h3>
                <div class="mb-3 clearfix">
                    <label for="{{ form.email.id_for_label }}" class="control-label text-right">Email<span
                            class="text-red">*</span>:</label>
                    {{ form.email }}
                </div>
                <div class="mb-3 clearfix">
                    <label for="{{ form.password.id_for_label }}" class="control-label text-right">Password<span
                            class="text-red">*</span>:</label>
                    {{ form.password }}
                </div>
                <div class="mb-3 clearfix">
                    <label for="{{ form.password_repeat.id_for_label }}" class="control-label text-right">Confirm
                        password:</label>
                    {{ form.password_repeat }}
                </div>
                <div class="mb-3 clearfix">
                    <label for="{{ form.first_name.id_for_label }}" class="control-label text-right">First
                        Name:</label>
                    {{ form.first_name }}
                </div>
                <div class="mb-3 clearfix">
                    <label for="{{ form.last_name.id_for_label }}" class="control-label text-right">Last
                        Name:</label>
                    {{ form.last_name }}
                </div>
                <div class="mb-3 clearfix">
                    <label for="{{ form.phone_number.id_for_label }}" class="control-label text-right">Phone
                        Number:</label>
                    {{ form.phone_number }}
                </div>
                <div class="col-md-6 col-md-offset-4">
                    <input type="submit" value="Register" class="btn btn-success">
                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-md-4">
            {% if error_message %}
            <div class="col-md-12">
                <p class="text-red">*{{ error_message }}</p>
            </div>
            <div>
                <button type="submit" class="btn btn-success" value="Recover Password"><a href="/accounts/reset_password">Recover
                    Password</a></button>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock body %}

{% block extra_scripts %}
{{ block.super }}
{% endblock extra_scripts%}